.main-card {
  display: flex;
  justify-content: center;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 1.4rem;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1rem;
}

.gallery-thumbnail {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
